.login-heading {
  color: #333;
  margin: 2.4rem 0;
}
.input-headings {
  font-size: 1.6rem;
  font-size: 500;
  margin-bottom: 0.8rem;
}
.register-btn {
  background-color: #02b4b2;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  width: 200px;
  margin-top: 1.6rem;
}
.register-btn:hover {
  color: #fff;
}
